<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Create & Access SQLite database using Python

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create a database
*   Create a table
*   Insert data into the table
*   Query data from the table
*   Retrieve the result set into a pandas dataframe
*   Close the database connection

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world.

## Task 1: Create database using SQLite

In [1]:
 import sqlite3
    
# Connecting to sqlite
# connection object
conn = sqlite3.connect('test_DB.db')

#query uppercase or lowercase doent matter it seems
conn2 = sqlite3.connect('up_low.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [2]:
# cursor object
cursor_obj = conn.cursor()

#upper lower
cursor_obj2 = conn2.cursor()

## Task 2: Create a table in the database

In this step we will create a table in the database with following details:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

Before creating a table, let's first if the table already exist or not. To drop the table from a database use **DROP** query. A cursor is an object which helps to execute the query and fetch the records from the database.

In [3]:
# Drop the table if already exists.
cursor_obj.execute("drop table if exists test_DB")

cursor_obj2.execute("DROP TABLE IF EXISTS up_low")

#cursor_obj.execute(xy) is needed for initiating a query

## Dont worry if you get this error:

If you see an exception/error similar to the following, indicating that INSTRUCTOR is an undefined name, that's okay. It just implies that the INSTRUCTOR table does not exist in the table - which would be the case if you had not created it previously.

<strong>Exception: \[IBM]\[CLI Driver]\[DB2/LINUXX8664] SQL0204N  "ABC12345.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204</strong>

In [4]:
# Creating table
table  = """ create table if not exists test_DB(ID integer primary key not null, FNAME varchar(20), LNAME varchar(20), CITY varchar(20), CCODE char(2));"""
table2 = """ CREATE TABLE IF NOT EXISTS up_low(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2)); """

cursor_obj.execute(table)
cursor_obj2.execute(table2)
 
print("Table is Ready")

Table is Ready

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [5]:
cursor_obj.execute('''insert into test_DB values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')
cursor_obj2.execute('''INSERT INTO up_low VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

The output you will get something as: <strong>sqlite3.Cursor at 0x27a1a491260</strong> which means mySql database has sqlite3.Cursor object at 0x27a1a49126 as output in table. But you may get the different number.

## Task 4: Query data in the table

In this step we will retrieve data from our table.

In [6]:
statement = '''SELECT * FROM test_DB'''
statement2 = """select * from up_low"""

cursor_obj.execute(statement)
cursor_obj2.execute(statement2)

print("All the data from test_DB")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

print("\n\nAll the data from up_low")
output_all2 = cursor_obj2.fetchall()
for row_all in output_all2:
  print(row_all)

All the data from test_DB
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')


All the data from up_low
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [7]:
## Fetch few rows from the table
cursor_obj.execute(statement)
  
print("2 rows")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

2 rows
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [8]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM test_DB'''
statement2 = '''select FNAME from up_low'''

cursor_obj.execute(statement)
cursor_obj2.execute(statement2)


print("Only FNAME from test_DB")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

print("\nOnly FNAME from up_low")
output_column = cursor_obj2.fetchall()
for fetch in output_column:
  print(fetch)

Only FNAME from test_DB
('Rav',)
('Raul',)
('Hima',)

Only FNAME from up_low
('Rav',)
('Raul',)
('Hima',)

<Strong>Bonus: now write and execute an update statement that changes the Rav's CITY to MOOSETOWN</strong>

In [9]:
query_update='''update test_DB set CITY='MOOSETOWN' where FNAME="Rav"'''
query_update2 ="""UPDATE up_low SET CITY='MOOSETOWN' WHERE FNAME="Rav" """
cursor_obj.execute(query_update)
cursor_obj2.execute(query_update2)

In [10]:
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
('Rav',)
('Raul',)

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [11]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("SELECT * FROM test_DB;", conn)
df2 =pd.read_sql_query("select * from up_low;", conn2)


#print the dataframe
print("Test_DB via pandas")
print(df,"\n")
print("up_low via pandas")
print(df2)

Test_DB via pandas
   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

up_low via pandas
   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [12]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [13]:
df.shape

(3, 5)

## Task 6: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [14]:
# Close the connection
conn.close()
conn2.close()

## Summary

In this tutorial you created a database & table in Python notebook using SQLite3. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

<a href="https://www.linkedin.com/in/malika-goyal-04798622/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Malika</a>

## Other Contributor(s)

<a href="https://www.linkedin.com/in/lakshmi-holla-b39062149/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Lakshmi Holla</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description        |
| ----------------- | ------- | ---------- | ------------------------- |
| 2022-03-03        | 1.0     | Malika     | Created lab using sqlite3 |

<hr>

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>